<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home fit</title>
    <!-- CSS 링크 -->
    <link rel="stylesheet" href="/stylesheets/pagestyle/forgetpwStyle.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
    <link rel="stylesheet" href="/stylesheets/stylemodule/reset.css" />
    <link rel="stylesheet" href="/stylesheets/stylemodule/header.css" />
    <!-- 폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Carter+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="wrap">
      <header id="header">
        <div class="header">
          <h1>Home fit</h1>
        </div>
      </header>
      <!-- header -->

      <section id="main_wrap">
        <div class="forget_pw">
          <div class="forget_pw_wrap">
            <h4 class="ir_su">비밀번호 찾기</h4>
            <form action="post" class="form_wrap" name="form_wrap">
              <fieldset>
                <legend class="ir_su">비밀번호 찾기관련</legend>
                <div class="forget_pw_header">
                  <h5 class="ir_su">비밀번호 찾기 헤더</h5>
                  <h5 class="rh_title">Forget PW</h5>
                </div>
                <!-- register header-->

                <div class="forget_pw_content">
                  <ul>
                    <li>
                      <label for="user_pw1">New</label>
                      <input
                        type="text"
                        id="user_pw1"
                        name="user_pw1"
                        class="input_text"
                        maxlength="20"
                        placeholder="NewPW"
                      />
                    </li>
                    <li>
                      <label for="user_pw2">Check</label>
                      <input
                        type="text"
                        id="user_pw2"
                        name="user_pw2"
                        class="input_text"
                        maxlength="20"
                        placeholder="CheckPW"
                      />
                    </li>
                  </ul>
                </div>
                <!-- register content -->

                <div class="forget_pw_footer">
                  <a class="rf_btn_a" href="#"
                    ><button type="button" class="rf_btn">finish</button></a
                  >
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- register -->
      </section>
      <!-- main -->

      <footer id="footer">
        <div class="footer_wrap">
          <ul>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </footer>
      <!-- footer -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script></script>
  </body>
</html>
