<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home fit</title>
    <!-- CSS 링크 -->
    <link rel="stylesheet" href="/stylesheets/pagestyle/registerStyle.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
    <link rel="stylesheet" href="/stylesheets/stylemodule/reset.css" />
    <link rel="stylesheet" href="/stylesheets/stylemodule/header.css" />
    <!-- 폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Carter+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="skip">
      <a href="#">로그인</a>
      <a href="#">회원가입</a>
    </div>
    <!-- 스킵 메뉴 -->

    <div id="wrap">
      <header id="header">
        <div class="header">
          <!--<img src = "img/pilates.png" alt = "로고">-->
          <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
          <h1>Home fit</h1>
          <a href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
        </div>
      </header>
      <!-- header -->

      <section id="main_wrap">
        <div class="register">
          <div class="register_wrap">
            <h4 class="ir_su">가입 페이지</h4>
            <form action="post" class="form_wrap" name="form_wrap">
              <fieldset>
                <legend class="ir_su">가입 정보 입력</legend>
                <div class="register_header">
                  <h5 class="ir_su">가입 헤더</h5>
                  <h5 class="rh_title">Create Account</h5>
                </div>
                <!-- register header-->

                <div class="register_content">
                  <div class="register_information">
                    <ul>
                      <li>
                        <label for="uid">ID</label>
                        <input
                          type="text"
                          id="uid"
                          name="uid"
                          class="input_text"
                          maxlength="20"
                          placeholder="ID"
                        />
                      </li>
                      <li>
                        <a href="#" onclick="return idClick() ;"
                          ><span>아이디 중복확인</span
                          ><i class="fa fa-check" aria-hidden="true"></i
                        ></a>
                      </li>
                      <li>
                        <label for="name">PW</label>
                        <input
                          type="text"
                          id="upw"
                          name="upw"
                          class="input_text"
                          maxlength="20"
                          placeholder="Password"
                        />
                      </li>
                      <li class="gender">
                        <a href="#" onclick="return maleClick() ;"
                          ><span>남</span
                          ><i
                            class="fa fa-check-square male"
                            aria-hidden="true"
                          ></i
                        ></a>
                        <a href="#" onclick="return formaleClick() ;"
                          ><span>여</span
                          ><i
                            class="fa fa-check-square formale"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="personal_information">
                    <ul>
                      <li>
                        <label for="name">name</label>
                        <input
                          type="text"
                          id="name"
                          name="name"
                          class="input_text"
                          maxlength="20"
                          placeholder="name"
                        />
                      </li>
                      <li>
                        <label for="age">age</label>
                        <input
                          type="text"
                          id="age"
                          name="age"
                          class="input_text"
                          maxlength="20"
                          placeholder="age"
                        />
                      </li>
                      <li>
                        <label for="height">height</label>
                        <input
                          type="text"
                          id="height"
                          name="height"
                          class="input_text"
                          maxlength="20"
                          placeholder="height"
                        />
                      </li>
                      <li>
                        <label for="weight">weight</label>
                        <input
                          type="text"
                          id="weight"
                          name="weight"
                          class="input_text"
                          maxlength="20"
                          placeholder="weight"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- register content -->

                <div class="register_footer">
                  <a class="rf_btn_a" href="/"
                    ><button type="button" class="rf_btn">Register</button></a
                  >
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- register -->
      </section>
      <!-- main -->

      <footer id="footer">
        <div class="footer_wrap">
          <ul>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </footer>
      <!-- footer -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      // register check
      var count = 0;

      function idClick() {
        if (parseInt(count % 2) == 0) {
          $(".fa-check").addClass("on");
        } else {
          $(".fa-check").removeClass("on");
        }

        count++;
      }

      var male = 0;
      var formale = 0;

      function maleClick() {
        if (parseInt(male % 2) == 0) {
          $(".male").addClass("on");
        } else {
          $(".male").removeClass("on");
        }

        male++;
      }

      function formaleClick() {
        if (parseInt(formale % 2) == 0) {
          $(".formale").addClass("on");
        } else {
          $(".formale").removeClass("on");
        }

        formale++;
      }
    </script>
  </body>
</html>
