@charset "urf-8";

/* section 레이아웃 */
#main_wrap { overflow : hidden ; width : 100% ; background-color : rgb(34, 74, 242); }



/* footer 레이아웃 */
#footer { clear : both ; width : 100% ; height : 100px ; background-color: #464159 ; }



/* 미디어 커리 */
